In [1]:
# print all prime numbers between 1 and 10
'''prime number is divisible only by 1 and itself'''
num1=1
num2=10

print("Prime numbers between 1 and 10 are:")
for num in range(num1,num2+1):
    if num > 1:
        for i in range(2,num):
            if (num % i) == 0:
                break
        else:
            print(num)

Prime numbers between 1 and 10 are:
2
3
5
7

In [8]:
# find factorial of number:
'''5 -> factorial 5*4*3*2*1 = 120
1*5=5
2*5=10
3*10=30
4*30=120'''

num=int(input("Enter a number:"))
f=1 #initializing variable f
for i in range(1,num+1):
    f=f*i # 1=1*1, 2=1*2, 6=2*3, 24=6*4, 120=24*5
print(f"Factorial of {num} is: {f}")

Enter a number:5
Factorial of 5 is: 120

In [9]:
#Display multiplication table
'''1*3=3
2*3=6
3*3=9....3*10=30'''

num=int(input("Enter a number to get its table:"))

for i in range(1,11):
    result=num*i
    print(f"{num}*{i}={result}")

Enter a number to get its table:3
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30

In [12]:
# blank class

class a:
    pass

obj=a()
obj.name='xyz'
obj.age="23"
print("Name =",obj.name,"Age =",obj.age)

Name = xyz Age = 23

In [256]:
# Fibonacci sequence:

inum=int(input("Enter a number:"))
n1=0
n2=1
nxt=0
for i in range(1,inum+1):
        print(nxt)
        nxt=n1+n2
       # print(nxt)
        n1=n2
        n2=nxt

Enter a number:5
0
1
2
3
5

In [38]:
#Armstrong number:
'''123 = 1^3+2^3+3^3'''

num=int(input("Enter a number:"))
str_num=str(num)
len_num=len(str_num)
x=0
temp=0
for d in str_num:
    x = int(d)**len_num
    temp+=x
    
if temp==num:    
    print(f"{temp} is an Armstrong number.")
else:
    print(f"{num} is not an Armstrong number.")

Enter a number:153
153 is an Armstrong number.

In [40]:
#find armstrong number in interval:

lower=int(input("Enter a start number:"))
upper=int(input("Enter a stop number:"))

for num in range(lower,upper+1):
    str_num=str(num)
    len_num=len(str_num)
    x=0
    temp=0
    for d in str_num:
        x = int(d)**len_num
        temp+=x
    
    if temp==num:    
        print(f"{temp} is an Armstrong number.")

Enter a start number:10
Enter a stop number:10000
153 is an Armstrong number.
370 is an Armstrong number.
371 is an Armstrong number.
407 is an Armstrong number.
1634 is an Armstrong number.
8208 is an Armstrong number.
9474 is an Armstrong number.

In [42]:
#sum of natural numbers

limit=int(input("Enter a limit:"))
N=0
for i in range(0,limit+1):
    N+=i

print(f"The sum of natural numbers is {N}")

Enter a limit:10
The sum of natural numbers is 55

In [48]:
#LCM of 2 numbers:
max_num=0
def lcm(a,b):
    max_num=max(a,b)
    while(True):
        if max_num%a==0 and max_num%b==0:
            lcm=max_num
            break
        max_num+=1
    return lcm
    
num1=int(input("Enter number 1:"))
num2=int(input("Enter number 2:"))
print(f"LCM of {num1} and {num2} is {lcm(num1,num2)}")

Enter number 1:14
Enter number 2:16
LCM of 14 and 16 is 112

In [50]:
#HCF of 2 numbers:
max_num=0
def hcf(a,b):
    min_num=min(a,b)
    for i in range(1,min_num+1):
        if a%i==0 and b%i==0:
            hcf=i
    return hcf
    
num1=int(input("Enter number 1:"))
num2=int(input("Enter number 2:"))
print(f"HCF of {num1} and {num2} is {hcf(num1,num2)}")

Enter number 1:54
Enter number 2:24
HCF of 54 and 24 is 6

In [67]:
# find minimum value in list:

l=[9,10,2,6,4]

minimum=min(l)
print(f"Minimum of list is {minimum}")

maximum=max(l)
print(f"Maximum of list is {maximum}")

l.sort(reverse=True)
print(l)
if l[1] < maximum:
    print(f"Second largest number is {l[1]}")

Minimum of list is 2
Maximum of list is 10
[10, 9, 6, 4, 2]
Second largest number is 9

In [82]:
# Inheritance

class Person():
    def __init__(self,fname,lname):
        self.firstname=fname
        self.lastname=lname
        
    def printname(self):
        print(f"{self.firstname} {self.lastname}")
        
class Student(Person):
    def __init__(self,fname,lname,age):
        super().__init__(fname,lname)
        self.age=age
        
    def welcome(self):
        print(f"Welcome, {self.firstname} {self.lastname} aged {self.age}")
        
    def printname(self): ##overriding the PArent class method
        print(f"Student class called and overriding Parent Class with values {self.firstname} {self.lastname} {self.age}")
        
x=Student("Lakshmi","Iyer",35)
x.welcome()
x.printname()

Welcome, Lakshmi Iyer aged 35
Student class called and overriding Parent Class with values Lakshmi Iyer 35

In [86]:
i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

In [161]:
def func(**k):
    print("My name is "+ k["lname"])
    
func(fname="Lakshmi",lname="Iyer")

My name is Iyer

In [103]:
## __iter__() and __next__():

class Numbers:
    def __iter__(self):
        self.a = 1
        return self
    
    def __next__(self):
        if self.a<5:
            x = self.a
            self.a += 1
            return x
        else:
            raise StopIteration("Iteration has been stopped")
            
obj = Numbers()
myIter = iter(obj)

for i in myIter:
    print(i)

1
2
3
4

In [110]:
## Find n largest numbers:
def top_numbers(inp_list, n):
    sorted_list = sorted(inp_list,reverse=True)
    return sorted_list[:n]

count=int(input("Enter the number of largest numbers from the list:"))
num_list=[23,12,56,34,10,7,98]

print(f"The largest {count} numbers in the list are {top_numbers(num_list,count)}")

Enter the number of largest numbers from the list:3
The largest 3 numbers in the list are [98, 56, 34]

In [111]:
import json

In [123]:
l = { "Name":"Lakshmi",
     "age":35,
     "married":True,
     "divorced":False,
     "fav_colors":['blue','green','pink'],
     "degrees":('bcom','mba','gniit'),
     "children":None,
     "brands":{"tshirt":"Souled Store","Pants":"blissclub"}
}

x = json.dumps(l,indent=4,sort_keys=True)
print(x)

{
    "Name": "Lakshmi",
    "age": 35,
    "brands": {
        "Pants": "blissclub",
        "tshirt": "Souled Store"
    },
    "children": null,
    "degrees": [
        "bcom",
        "mba",
        "gniit"
    ],
    "divorced": false,
    "fav_colors": [
        "blue",
        "green",
        "pink"
    ],
    "married": true
}

In [124]:
p=json.loads(x)
p

{'Name': 'Lakshmi',
 'age': 35,
 'brands': {'Pants': 'blissclub', 'tshirt': 'Souled Store'},
 'children': None,
 'degrees': ['bcom', 'mba', 'gniit'],
 'divorced': False,
 'fav_colors': ['blue', 'green', 'pink'],
 'married': True}

In [125]:
p["married"]

True

In [126]:
p["age"]

35

In [132]:
p["Name"].start()

AttributeError: 'str' object has no attribute 'start'

In [133]:
import re

In [147]:
str1="My name is John."

In [153]:
x=re.search(r"\bJo\w+",str1)
print(x)
print(x.span())
print(x.string)
print(x.group())
print(x.start())
print(x.end())

<re.Match object; span=(11, 15), match='John'>
(11, 15)
My name is John.
John
11
15

In [149]:
x=re.findall(r"\bJoh",str1)
print(x)

['Joh']

In [158]:
try:
    f = open("demofile.txt",'w')
    try:
        f.write("Lorum Ipsum written")
    except:
        print("Something went wrong when writing to the file")
    finally:
        f.close()
except:
    print("Something went wrong when opening the file")
else:
    print("Written successfully!")

Written successfully!

In [170]:
a="hello"
if type(a) is str:
 print(a)

hello

In [183]:
f=open("demofile1.txt","x")

FileExistsError: [Errno 17] File exists: 'demofile1.txt'

In [173]:
f.write("hello! welcome to demo file.")
f.close()

In [179]:
f1=open("demofile1.txt","r")
f1.read(10)

'hello! wel'

In [180]:
f1.close()

In [185]:
f=open("demofile1.txt","w")
f.write("overwriting existing content.")
f.close()

In [187]:
f=open("demofile1.txt","r")
f.read()

'overwriting existing content.'

In [188]:
f=open("demofile2.txt","a")
f.write("create file if not existing")
f.close()

In [193]:
f=open("demofile2.txt","r")
print(f.read())
f.close()

create file if not existing

In [194]:
import os

In [195]:
if os.path.exists("demofile2.txt"):
    os.remove("demofile2.txt")
else:
    print("File does not exist.")

In [198]:
num_list = [y for y in range(100) if y % 2 == 0 and y % 5 == 0]
num_list

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [199]:
multiplication = [[i * j for j in range(1, 6)] for i in range(2, 5)]

print(multiplication)

[[2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20]]

In [202]:
multiplication = []

for i in range(2, 5):
    x=[]
    for j in range(1, 6):
        x.append(i * j)
    multiplication.append(x)

print(multiplication)

[[2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20]]

In [232]:
my_list = [1, 5, 4, 6, 8, 11, 3, 12]

new_list = list(map(lambda x: x * 2 , my_list))

print(new_list)

TypeError: 'list' object is not callable

In [235]:
numbers=[1,2,3,4,5]
# create a new list using list comprehension
square_numbers = [num ** 2 for num in numbers]
print(square_numbers)

[1, 4, 9, 16, 25]

In [262]:
def fibonacci_numbers(nums):
    x, y = 0, 1
    for b in range(nums):
        if b < 1:
            print(x)
        else:
            x, y = y, x+y
            yield x

    
fiblist = fibonacci_numbers(10)

for i in fiblist:
    print(i)

0
1
1
2
3
5
8
13
21
34

In [240]:
squares_list = [num ** 2 for num in numbers]
print(squares_list)

[1, 4, 9, 16, 25]

In [249]:
squares_generator = (i**2 for i in range(1,6))
print(squares_generator)

<generator object <genexpr> at 0x000001437FAB6C20>

In [250]:
list_j=[]
for j in squares_generator:
    list_j.append(j)

print(list_j)

[1, 4, 9, 16, 25]

In [264]:
def square(nums):
    for num in nums:
        yield num**2
    
s=square([1,2,3])
for i in s:
    print(i)

1
4
9

In [269]:
def len_func(w):
    return len(w)

words=['aaa','aaaa','bbbbb','cc','d']

words.sort(key=len_func)
print(words)

['d', 'cc', 'aaa', 'aaaa', 'bbbbb']

In [270]:
def year_sort(d):
    return d['year']

cars = [
  {'car': 'Ford', 'year': 2005},
  {'car': 'Mitsubishi', 'year': 2000},
  {'car': 'BMW', 'year': 2019},
  {'car': 'VW', 'year': 2011}
]

cars.sort(key=year_sort)
print(cars)

[{'car': 'Mitsubishi', 'year': 2000}, {'car': 'Ford', 'year': 2005}, {'car': 'VW', 'year': 2011}, {'car': 'BMW', 'year': 2019}]

In [271]:
dict={'car':'Ford','year':2005}
print(dict)

{'car': 'Ford', 'year': 2005}

In [272]:
dict.items()

dict_items([('car', 'Ford'), ('year', 2005)])

In [273]:
dict['color']='black'

In [274]:
print(dict)

{'car': 'Ford', 'year': 2005, 'color': 'black'}

In [275]:
dict.update({'isHybrid':'yes'})

In [276]:
print(dict)

{'car': 'Ford', 'year': 2005, 'color': 'black', 'isHybrid': 'yes'}

In [289]:
def example(*args,**kwargs):
    print(args,kwargs)
    
example([1,2],{'name':"Lakshmi",'age':35})
example(1,2,c=40,d=50)

([1, 2], {'name': 'Lakshmi', 'age': 35}) {}
(1, 2) {'c': 40, 'd': 50}

In [301]:
## count no. of words appearing in a string using dictionary

str1="apple banana apple chickoo banana grape grape kiwi"
l1=str1.split()
print(l1)

d={}
for i in l1:
    if i not in d.keys():
        d[i]=1
    else:
        d[i]+=1
print(d)

['apple', 'banana', 'apple', 'chickoo', 'banana', 'grape', 'grape', 'kiwi']
{'apple': 2, 'banana': 2, 'chickoo': 1, 'grape': 2, 'kiwi': 1}

In [318]:
## common letters in 2 strings

str1="Lakshmih"
str2="Rajeshh"
my_set=set()
common_list=[]
for i in str1:
    if i in str2:
        common_list.append(i)

my_set.update(common_list)
print(common_list)
print(my_set)

['a', 's', 'h', 'h']
{'s', 'a', 'h'}

In [325]:
#to convert 2 lists into ditionary

list1=['a','b','c']
list2=['1','2','3']

result = dict(zip(list1,list2))
print(result)

TypeError: 'dict' object is not callable

In [328]:
d = {40:"john", 45:"50"}
d

{40: 'john', 45: '50'}

In [329]:
5//2

2

In [331]:
try: 
    if '1' != 1: 
        raise "someError" 
    else: 
        print("someError has not occured")
except: 
    print ("someError has occured")

someError has occured

In [334]:
# global_var is in the global namespace
global_var = 10

def outer_function():
    #  outer_var is in the local namespace 
    outer_var = 20
    
    def inner_function():
        #  inner_var is in the nested local namespace 
        inner_var = 30

        print(inner_var)

    print(outer_var)

    inner_function()

# print the value of the global variable
print(global_var)

# call the outer function and print local and nested local variables
outer_function()

10
20
30

In [335]:
print(5 * (2 // 3))

0

In [339]:
2/3

0.6666666666666666

In [338]:
3/2

1.5

In [342]:
n=5

for i in range(n):
    for j in range(n):
        print('*', end=' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [344]:
n=5

for i in range(n):
    for j in range(i+1):
        print('*', end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [345]:
n=5

for i in range(n):
    for j in range(i,n):
        print('*', end=' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [375]:
n=5
for i in range(n):
    for j in range(i,n):
        print('', end=' ')
    for j in range(i+1):
        print('*',end=' ')
    print()

     *
    * *
   * * *
  * * * *
 * * * * *

In [369]:
range(5 - 1, 0, -1)

range(4, 0, -1)

In [374]:
for i in range(4, 0,-1):
    print(i)

4
3
2
1

In [376]:
## right sided angled increasing * triangle
n=5

for i in range(n):
    print(' '*(n-i-1)+'*'*(i+1))

    *
   **
  ***
 ****
*****

In [377]:
## left sided angled increasing * triangle
n=5

for i in range(n):
    print('*'*(i+1))

*
**
***
****
*****

In [379]:
# Left sided angled decreasing * triangle
n=5

for i in range(n):
    print('*'*(n-i))

*****
****
***
**
*

In [384]:
# right sided angled decreasing * triangle
n=5

for i in range(n):
    print(' '*(i) + '*'*(n-i))

*****
 ****
  ***
   **
    *

In [389]:
# equilateral triangle (left side decreasing ' ', right side increasing '*', left side increasing '*')

n=5

for i in range(n):
    print(' '*(n-i-1)+'*'*(i)+'*'*(i+1))

    *
   ***
  *****
 *******
*********

In [392]:
# upside-down equilateral triangle (left side increasing ' ', right side decreasing '*',left side decreasing '*')

n=5
for i in range(n):
    print(' '*(i+1)+'*'*(n-i)+'*'*(n-i-1))

 *********
  *******
   *****
    ***
     *

In [400]:
## diamond shape (combine above 2 - 1 row)
# left side decreasing ' ', right side increasing '*', left side increasing '*'
# left side increasing ' ', right side decreasing '*', left side decreasing '*'

n=5
for i in range(n-1):
    print(' '*(n-i-1)+'*'*(i+1)+'*'*(i))
    
for i in range(n):
    print(' '*(i)+'*'*(n-i)+'*'*(n-i-1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [405]:
numlist= input("Please enter a list of numbers:")
split_list=numlist.split(',')

for i,v in enumerate(split_list):
    print(f"Index{i} Value{v}")

Please enter a list of numbers:10,20,30
Index0 Value10
Index1 Value20
Index2 Value30

In [410]:
str_req="apple orange grape orange apple apple"

str_list={}
split_str=str_req.split(' ')

for i in split_str:
    if i in str_list:
        str_list[i]+=1
    else:
        str_list[i]=1
        
for k,v in str_list.items():
    print(f"{k} : {v}")

apple : 3
orange : 2
grape : 1

In [445]:
class Animal():
    def __init__(self,name,kind):
        self.name=name
        self.kind=kind
        
    def sound(self,s):
        self.s=s
        return f"{self.name} {self.s}!"
    
    def __str__(self):
        return "Parent Class Animal"
        
class Dog(Animal):
    def display(self):
        print(f"Name of dog is {d1.name} and its kind is {d1.kind} and {d1.sound('Woofs')}")        
        
d1=Dog("Tommy","Labrador") 
d1.display()
print(d1)
#print(f"Name of dog is {d1.name} and its kind is {d1.kind}")

Name of dog is Tommy and its kind is Labrador and Tommy Woofs!
Parent Class Animal

In [423]:
class Addition:
	first = 0
	second = 0
	answer = 0

	# parameterized constructor
	def __init__(self, f, s):
		self.first = f
		self.second = s

	def display(self):
		print("First number = " + str(self.first))
		print("Second number = " + str(self.second))
		print("Addition of two numbers = " + str(self.answer))

	def calculate(self):
		self.answer = self.first + self.second
		return self.answer


# creating object of the class
# this will invoke parameterized constructor
obj1 = Addition(1000, 2000)

# creating second object of same class
obj2 = Addition(10, 20)

# perform Addition on obj1
obj1.calculate()

# perform Addition on obj2
obj2.calculate()

# display result of obj1
obj1.display()

# display result of obj2
obj2.display()

First number = 1000
Second number = 2000
Addition of two numbers = 3000
First number = 10
Second number = 20
Addition of two numbers = 30

In [457]:
class Car:
    def __init__(self,name,model):
        self.name=name
        self.model=model
        
    def move(self):
        print("Drive!")
        
class Boat:
    def __init__(self,name,model):
        self.name=name
        self.model=model
        
    def move(self):
        print("Sail!")
        
class Plane:
    def __init__(self,name,model):
        self.name=name
        self.model=model
        
    def move(self):
        print("Fly!")
        
car1=Car("Toyota","Etios")
boat1=Boat("Princessa","Touring 20")
plane1=Plane("Boeing","747")

for i in (car1,boat1,plane1):
    print(f"{i.name} {i.model}"),i.move()

Toyota Etios
Drive!
Princessa Touring 20
Sail!
Boeing 747
Fly!

In [464]:
class Vehicle:
    def __init__(self,name,color,wheels):
        self.name=name
        self.color=color
        self.wheels=wheels
        
    def display(self):
        print(f"NAme is: {self.name}")
        print(f"Color is: {self.color}")
        print(f"No of Wheels are: {self.wheels}")
        
class Car(Vehicle):
    def __init__(self,name,color):
        super().__init__(name,color,wheels=4)
            
class Bike(Vehicle):
    def __init__(self,name,color):
        super().__init__(name,color,wheels=2)
        
c1=Car("Toyota","Red")
b1=Bike("Honda","Black")

print("Car details are:")
c1.display()
print()
print("Bike details are:")
b1.display()

Car details are:
NAme is: Toyota
Color is: Red
No of Wheels are: 4

Bike details are:
NAme is: Honda
Color is: Black
No of Wheels are: 2

In [469]:
def sort_func():
    return lambda x:(x[1],x[0])

ss=[('Earth',1),('Jupiter',79),('Saturn',82),('Uranus',27),('Neptune',14)]
sorted_ss = sorted(ss,key=sort_func())

ss
sorted_ss

[('Earth', 1),
 ('Neptune', 14),
 ('Uranus', 27),
 ('Jupiter', 79),
 ('Saturn', 82)]

In [472]:
tank = 0

def fillup(qty):
    global tank
    tank+=qty
    return tank

def used(qty):
    global tank
    tank-=qty
    return tank

fillup(25)
used(14)

11

In [477]:
class Person:
    def __init__(self):
        self.name=""
        self.age=0
        
    def set_name(self,name):
        self.name=name
        
    def get_name(self):
        return self.name
    
    def set_age(self,age):
        if age>0:
            self.age=age
        else:
            print("Age cannot be -ve")

    def get_age(self):
        return self.age
    
    
obj=Person()
obj.set_name("John")
obj.set_age(36)

print(obj.get_name())
print(obj.get_age())

John
36

In [3]:
def drop_elements(n,seq):
    return seq[n:]

drop_elements(2,[1,2,3,4,5])

[3, 4, 5]

In [4]:
from collections import Counter

def count_element_frequency(lst):
    return Counter(lst)

count_element_frequency([1,2,3,4,3,3,2,2,4])

Counter({2: 3, 3: 3, 4: 2, 1: 1})

In [7]:
fruits = ["mango", "banana", "guava"]
fruits.append("pear")
fruits

['mango', 'banana', 'guava', 'pear']

In [9]:
def add_two(a, b):
    return a + b

total = add_two(2, 6)
print(total)

8

In [13]:
def add_to_shopping_list(item,current_list=None):
    if current_list is None:
        current_list=[]
    current_list.append(item)
    return current_list

add_to_shopping_list('item1')

['item1']

In [16]:
def count_odd_numbers(numbers):
    i=0
    count=0
    while i <= len(numbers):
        if i%2!=0:
            count+=1
        i+=1 
    return count

count_odd_numbers([1,2,3,4,5,6,7])

4

In [35]:
def count_odd_numbers(numbers):
    i=0
    count_odds=0
    while i < len(numbers):
        if numbers[i]%2!=0:
            count_odds+=1
        i+=1 

    return count_odds

count_odd_numbers([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

5

In [37]:
def count_vowels(string):
    counter=0
    for i in string:
        if i.lower() in ['a','e','i','o','u']:
            counter += 1
    return counter    

count_vowels("Hello World!")

3

In [41]:
def divisible_numbers(numbers):
    result=[]
    for i in numbers:
        if i in range(2000,3201):
            if (i % 3 == 0) and (i % 7 != 0):
                result.append(str(i))
            
    return ','.join(result)

divisible_numbers([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009])

'2001,2004,2007'